          :local .table {
             text-align: center !important;
         }

          :local .container {
             height: 100%;
             width: 100%;
         }

          :local .addResident {
             margin-top: 8px !important;
         }

          :local .modal {
             width: auto !important;
             margin-left: 0px !important;
         }

          :local .modalHeader {
             text-align: right;
         }